@import 'fonts';
@import 'animations';
@import 'images';
@import 'shapes';
@import 'plugins';

body {
  cursor: crosshair;
}

.wacky-banana-mode {
  .banana-trigger { display: block !important; }
}

.helper-text,
.helper-text-mobile {
  display: none;
}

.game-over {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold !important;
  font-size: 5vw;
  color: #ffff00;

  span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold !important;
    font-size: 5vw;
    text-shadow: 0 5px rgba(0,0,0,.6);
  }

  h1 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold !important;
  }

  span:nth-child(2n) {
    color: #f90;
    text-shadow: 0 -5px rgba(0, 0, 0, 0.6);
  }
}

.score-text {
  font-size: 5vw;
}

.game-close, .game-reset {
  position: static;
  font-size: 3vw;
  font-family: 'Raleway', sans-serif;
  border: none;
  background: none;
  text-transform: uppercase;
  margin: 0 1vw;
  padding: 5px 15px;
  cursor: pointer;
}

.game-close {
  color: red;
}

.game-reset {
  border: 2px solid black;
  border-radius: 3px;
  background: rgba(255, 255, 0, .5);

  &:hover {
    border: 2px solid green;
  }
}

.game-start {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 30000;
}

$banana-trigger-size: 512px;
$banana-trigger-fontsize: $banana-trigger-size / 3px;

.banana-trigger {
  font-family: arial, Helvetica, sans-serif;
  position: absolute;
  z-index: 30000;
  overflow: visible;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);

  &:hover .banana-go,
  &:hover .banana-bananas {
    display: inline-block;
  }
}

.banana-bananas {
  color: red;
  position: absolute;
  top: #{$banana-trigger-fontsize}px;
  left: #{$banana-trigger-fontsize * 3}px;
  width: 100%;
  text-transform: uppercase;
  font-size: #{$banana-trigger-fontsize}px;
  text-align: left;
  animation: colorchange .2s infinite alternate;
  text-shadow: 0 -10px #111;
}

.banana-go {
  position: absolute;
  top: #{$banana-trigger-fontsize};
  left: -#{$banana-trigger-fontsize * 3}px;
  width: 100%;
  text-transform: uppercase;
  font-size: #{$banana-trigger-fontsize}px;
  text-align: right;
  animation: colorchange2 .2s infinite alternate;
  text-shadow: 0 10px #111;
}

.btn-banana {
  width: 512px;
  height: 512px;
  border-radius: 50%;
  //border: 2px solid rgba(79, 124, 140, 1);
  cursor: pointer;
  transform: scale(.55);

  animation: gobananas linear 0.8s, radial 100ms;;
  animation-iteration-count: infinite;
  border: none;
  box-shadow: none;
}

.bg-btn-banana {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-origin: content-box;
  background-size: contain;
  padding: 8%;
  box-sizing: border-box;
  background-position: bottom center;
}

.game-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 30250;
  max-width: 1280px;
}

.game {
  background: rgba(239, 239, 239, .2);
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: -50%;
}

.score {
  font-size: 100px;
  z-index: 20;
  font-family: arial, sans-serif;
  color: #111;
  user-select: none;
  width: 50%;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
}

.box {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -150px;
  transition: transform 1.5s linear;
  cursor: pointer;
  z-index: 100;
  overflow: visible;
}

.counter {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: arial;
  color: red;
  font-weight: bold;
  padding-top: 10px;
  font-size: 20px;
  position: relative;
  z-index: 9999;
}

/**
    Eggplant
 */

.eggplant {
  width: 64px;
  height: 64px;
}

.star-wrap {
  display: inline-block;
  overflow: visible;
  position: static;
}

/**
    @group Game styles
 */
.go-bananas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 31000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vw;
  h1 {
    font-weight: bold;
    line-height: 0;
  }
}

.go-bananas-running {
  display: block;
}

.game-title {
  overflow: hidden;
}

.game-over {
  background-color: rgba(0,0,0,.5);
}

.game-title, .game-over {
  display: none;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold !important;
  text-transform: uppercase;
  text-align: center;
}

.game-title {
  z-index: 31500;
}
.game-over {
  z-index: 32000;
}

.game-description {
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  color: #ff0000;
  text-shadow: 0 3px #790000;
  font-size: 3vw;
  font-weight: bold !important;
}

.game-over-score-container {
  z-index: 32500;
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vw;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  padding: 0 25%;
}

.go-bananas .game-title h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  margin: -15% 0 0 -25%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;;
  font-weight: bold !important;
  font-size: 10vw;
  line-height: 1;
}

.game-over-score {
  overflow: visible;

  .score-text {
    font-size: 2vw;
    font-weight: bold !important;
    font-family: arial, helvetica, sans-serif;
  }
}

.score-points-text {
  font-size: 15vw;
  line-height: 15vw;
  color: #222;
}

.game-over-score,
.game-over-actions {
  text-align: center;
}

.game-over-actions {
  top: 60%;
  height: auto;
  margin-top: 0;
}

.game-over-message {
  width: 100%;
  font-size: 3vw;
  color: #c0c;
  padding: 3vh;
}

@import 'mobile';